@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto&family=Ubuntu&display=swap');

.hnr-add-icon {
	margin-right: 0.5em;
	display: inline-block;
}

.hnr-del-icon {
	margin-right: 0.5em;
	display: inline-block;
	color: deeppink;
}

.hnr-show-icon {
	margin-right: 0.5em;
	display: inline-block;
}

.hnr-hide-icon {
	margin-right: 0.5em;
	display: inline-block;
	color: blueviolet;
}

.hnr-score {
    font-family: 'Roboto', sans-serif;
	font-weight: bolder;
    margin-right: 0.5em;
	display: inline-block;
	height: fit-content;
}

.hnr-comment {
	text-align: center;
    margin-right: 0.5em;
	display: inline-block;
    height: fit-content;
}

.hnr-title {
	font-size: x-large;
    font-family: 'Poppins', sans-serif;
	display: inline-flex;
	padding-bottom: 0.5em;
	color:black;
}

.hnr-date {
	font-family: 'Ubuntu', sans-serif;
    margin-right: 0.5em;
	font-size: small;
}

.form-icon {
	display: inline-block;
}

.inline2 {
	display: inline;
}
  
.link-button {
	background: none;
	border: none;
	color: blue;
	text-decoration: underline;
	cursor: pointer;
	font-size: 1em;
	font-family: serif;
  }
.link-button:focus {
	outline: none;
}
  
.link-button:active {
	color:red;
}

.sort-combo {
	float: center;
}

.label-username {
	display: flex;
	margin: 4px;
}

.textarea-keywords {
	display: flex;
	margin: 4px;
}

.textarea-keywords {
	display: flex;
	margin: 4px;
	overflow: auto;
	resize: none;
}

.max_story-input {
	display: flex;
	margin: 4px;
}

.hnr-show-icon {
	color: darkmagenta;
	font-size: x-large;
}

.hnr-hide-icon {
	color: crimson;
	font-size: x-large;
}

.highlighted-story-item {
	background-color: lightgray;
	margin-top: 8px;
}

.story-item {
	margin-top: 8px;
}