@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto&family=Ubuntu&display=swap');
.hnr-add-rm-icon {
    width: auto;
    display: inline;
    margin-right: 0.5em;
    font-size: x-large;
}
.hnr-score {
    font-family: 'Roboto', sans-serif;
	font-weight: bolder;
    width: auto;
    margin-right: 1em;
}

.hnr-title {
	font-size: large;
    font-family: 'Poppins', sans-serif;
}

.hnr-date {
	font-family: 'Ubuntu', sans-serif;
    margin-right: 0.5em;
	font-size: small;
}
.hn-comment {
	text-align: center;
    margin-right: 0.5em;
    width: auto;
}

.inline {
	display: inline;
	float: left;
}

.inline2 {
	display: inline;
}
  
.link-button {
	background: none;
	border: none;
	color: blue;
	text-decoration: underline;
	cursor: pointer;
	font-size: 1em;
	font-family: serif;
  }
.link-button:focus {
	outline: none;
}
  
.link-button:active {
	color:red;
}

.sort-combo {
	float: center;
}

.label-username {
	display: flex;
	margin: 4px;
}

.textarea-keywords {
	display: flex;
	margin: 4px;
}

.textarea-keywords {
	display: flex;
	margin: 4px;
	overflow: auto;
	resize: none;
}

.max_story-input {
	display: flex;
	margin: 4px;
}

.hnr-show-icon {
	color: darkmagenta;
	font-size: x-large;
}

.hnr-hide-icon {
	color: crimson;
	font-size: x-large;
}