{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-6">
  <select id='sort-stories-combobox' class="form-select sort-combo" aria-label="Sorting" onchange="sortStories();">
      <option selected>Choose sort factor</option>
      <option value="time">Time</option>
      <option value="score">Score</option>
      <option value="descendants">Comments</option>
      <option value="ratio">Ratio score/comments</option>
    </select>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
    {% if list_type %}
    {% if list_type == 'saved_stories' %}
    <button type="button" onclick="exportStories();">Export</button>
    <button type="button" onclick="clearSaved();">Clear</button>
    {% else %}
    <button type="button" onclick="hideAll()" class="btn btn-primary hnr-hide-all-btn">Hide All</button>
    {% endif %}
    {% endif %}
    </div>
</div>
<div class="container-fluid">
<ul class="list-group">
{% for user_story in stories %}
{% if user_story.story.descendants > 10 or user_story.story.score > 10 %}
<li class="list-group-item highlighted-story-item" id="{{user_story.story.id}}">
{% else %}
<li class="list-group-item story-item" id="{{user_story.story.id}}">
{% endif %}
  <div class="row">
      <div class="col">
        {%if open_hn %}
        <a class="hnr-a" id="{{user_story.story.id}}"
          href="https://news.ycombinator.com/item?id={{user_story.story.id}}"><span class="hnr-title">{{user_story.story.title}}</span></a>
        {% else %}
        <a class="hnr-a" id="story-{{user_story.story.id}}" 
          href="{{user_story.story.url}}"><span class="hnr-title">{{user_story.story.title}}</span></a>
        {% endif %}
      </div>
  </div>
  <div class="row">
      <div class="col">
        <div class="btn-group">
        <button class="hnr-icon-btn btn btn-outline-primary" type="button">
          <span class="hnr-score badge bg-primary">{{user_story.story.score}} p</span>
        </button>
        <button class="hnr-icon-btn btn btn-outline-primary disabled" type="button">
        <span class="hnr-comment badge bg-success">{{user_story.story.descendants}} c</span>
        </button>
        {% if user.is_authenticated %}
        {% if not user_story.saved %}
        <button class="hnr-icon-btn btn btn-outline-primary" type="button">
        <i class="link-button hnr-add-icon fa-solid fa-square-plus fa-xl" onclick="saveStory(this)"></i>
        {% else %}
        <i class="link-button hnr-del-icon fa-solid fa-square-minus fa-xl" onclick="deleteStory(this)"></i>
        </button>
        {% endif %}
        <button class="hnr-icon-btn btn btn-outline-primary" type="button">
          {% if user_story.ignored %}
          <i class="hnr-show-icon fa-solid fa-eye fa-xl" onclick="unhideStory(this)"></i>
          {% else %}
          <i class="hnr-hide-icon fa-solid fa-trash fa-xl" onclick="hideStory(this)"></i>
          {% endif %}
        </button>
        {% endif %}
        <button class="hnr-icon-btn btn btn-outline-primary" type="button">
          <span class="hnr-comment">
          <a  href="https://news.ycombinator.com/item?id={{user_story.story.id}}">
          <i class="fa-solid fa-comments fa-xl"></i>
          </a>
        </span>
        </div>
        <span class="hnr-date border badge bg-secondary">{{user_story.story.time|date:'y-m-d H:i'}}</span>
      </div>
  </div>
  </li>
{% endfor %}
</ul>

<!--Pagination-->
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
  {% if stories.has_previous %}
  <li class="page-item">
  <a class="page-link" href="?page={{ stories.previous_page_number }}&order_by={{ order_by }}">Previous</a>
  </li>
  {% else %}
  <li class="page-item disabled">
  <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
  </li>
  {% endif %}

  {% if stories.number|add:'-4' > 1 %}
  <li class="page-item"><a class="page-link" href="?page=1&order_by={{ order_by }}">1</a></li>
  <li class="page-item"><a class="page-link" href="?page={{ stories.number|add:'-5' }}&order_by={{ order_by }}">&hellip;</a></li>
  {% endif %}

  {% for i in stories.paginator.page_range %}
    {% if stories.number == i %}
    <li class="page-item active" aria-current="page">
      <span class="page-link">
      {{ i }}
      <span class="sr-only">(current)</span>
    </span>
    </li>
    {% elif i > stories.number|add:'-5' and i < stories.number|add:'5' %}
    <li class="page-item"><a class="page-link" href="?page={{ i }}&order_by={{ order_by }}">{{ i }}</a></li>
    {% endif %}
  {% endfor %}

  {% if stories.paginator.num_pages > stories.number|add:'4' %}
  <li class="page-item"><a class="page-link" href="?page={{ stories.number|add:'5' }}&order_by={{ order_by }}">&hellip;</a></li>
  <li class="page-item"><a class="page-link" href="?page={{ stories.paginator.num_pages }}&order_by={{ order_by }}">{{ stories.paginator.num_pages }}</a></li>
  {% endif %}

  {% if stories.has_next %}
  <li class="page-item">
  <a class="page-link" href="?page={{ stories.next_page_number }}">Next</a>
  </li>
  {% else %}
  <li class="page-item disabled">
  <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
  </li>
  {% endif %}
  </ul>
</nav>
<!--end of Pagination-->
</div>
</div>
{% endblock content %}
