{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class='container'>
  <div class='container'>
  <select id='sort-stories-combobox' class="form-select sort-combo" aria-label="Sorting" onchange="sortStories();">
      <option selected>Choose sort factor</option>
      <option value="time">Time</option>
      <option value="score">Score</option>
      <option value="descendants">Comments</option>
      <option value="ratio">Ratio score/comments</option>
    </select>
  {% comment %} </div>
<div class='container'> {% endcomment %}
<ul class="list-group">
{% for user_story in stories %}
<li class="list-group-item">
    {% if user.is_authenticated %}
    {% if not user_story.saved %}
    <form style="float" method="post" 
        action="{% url 'feed:save' user_story.story.id %}" class="inline">
        {% csrf_token %}
        {% comment %} <input type="hidden" name="story_id" value="{{story.id}}"> {% endcomment %}
        <button type="submit" name="story_id" value="{{story.id}}" class="link-button">
            <img class="add-image" src="{% static 'images/add.png' %}"/>
        </button>
    </form>
    {% else %}
    <form style="float" method="post" 
        action="{% url 'feed:delete' user_story.story.id %}" class="inline">
        {% csrf_token %}
        {% comment %} <input type="hidden" name="story_id" value="{{story.id}}"> {% endcomment %}
        <button type="submit" name="story_id" value="{{story.id}}" class="link-button">
            <img class="added-image" src="{% static 'images/added.png' %}"/>
        </button>
    </form>
    {% endif %}
    {% endif %}
    <span class="hn-score">{{user_story.story.score}}</span>
    <a class="hn-title" href="{{user_story.story.url}}">{{user_story.story.title}}</a>
    {% if user.is_authenticated %}
    <form style="float" method="post" 
        action="{% url 'feed:hide' user_story.story.id %}" class="inline2">
        {% csrf_token %}
        {% comment %} <input type="hidden" name="story_id" value="{{story.id}}"> {% endcomment %}
      <button type="submit" name="story_id" value="{{story.id}}" class="link-button">
        {% if user_story.ignored %}
        <img class="hide-image" src="{% static 'images/show.png' %}"/>
        {% else %}
        <img class="hide-image" src="{% static 'images/hide.png' %}"/>
        {% endif %}
      </button>
    </form>
    {% endif %}
    <span class="hn-date">{{user_story.story.time}}</span>
    <a class="hn-comment" href="https://news.ycombinator.com/item?id={{user_story.story.id}}">{{user_story.story.descendants}} Comments</a>
</li>
{% endfor %}
</ul>

<!--Pagination-->
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
  {% if stories.has_previous %}
  <li class="page-item">
  <a class="page-link" href="?page={{ stories.previous_page_number }}">Previous</a>
  </li>
  {% else %}
  <li class="page-item disabled">
  <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
  </li>
  {% endif %}

  {% if stories.number|add:'-4' > 1 %}
  <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
  <li class="page-item"><a class="page-link" href="?page={{ stories.number|add:'-5' }}">&hellip;</a></li>
  {% endif %}

  {% for i in stories.paginator.page_range %}
    {% if stories.number == i %}
    <li class="page-item active" aria-current="page">
      <span class="page-link">
      {{ i }}
      <span class="sr-only">(current)</span>
    </span>
    </li>
    {% elif i > stories.number|add:'-5' and i < stories.number|add:'5' %}
    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
  {% endfor %}

  {% if stories.paginator.num_pages > stories.number|add:'4' %}
  <li class="page-item"><a class="page-link" href="?page={{ stories.number|add:'5' }}">&hellip;</a></li>
  <li class="page-item"><a class="page-link" href="?page={{ stories.paginator.num_pages }}">{{ stories.paginator.num_pages }}</a></li>
  {% endif %}

  {% if stories.has_next %}
  <li class="page-item">
  <a class="page-link" href="?page={{ stories.next_page_number }}">Next</a>
  </li>
  {% else %}
  <li class="page-item disabled">
  <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
  </li>
  {% endif %}
  </ul>
</nav>
<!--end of Pagination-->
</div>
</div>
<script type="text/javascript">
    function sortStories() {
        var sortComboBox = document.getElementById('sort-stories-combobox');
        var selectedValue = sortComboBox[sortComboBox.selectedIndex].value;
        console.log("Selected value " + selectedValue);
        switch (selectedValue) {
        case 'time':
        case 'score':
        case 'descendants':
        case 'ratio':
            window.location = "/feed/sort/" + selectedValue;
            break;
        }
    }
</script>

{% endblock content %}